@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.appointment-bg {
  background-image: url(../images/Appointment-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.appointment-bg1 {
  background-image: url(../images/Appointment-bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.submit-bg {
  background-image: url(../images/submit-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.submit-bg1 {
  background-image: url(../images/Appointment-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.submit-bg2 {
  background-image: url(../images/Appointment-bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.styles-module_whatsappButton__tVits:after {
  animation: none !important;
}
body {
  background-color: #051405;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #051405;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2d9034;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #70be1e;
}
@layer components {
  .logoBg {
    background-image: url("../images/LogoVector.png");
    background-repeat: no-repeat;
    box-shadow: 0px 16px 12px #cf040400;
  }
  .gradient-txt {
    background: #f1f5f9;
    background: linear-gradient(to right, #f1f5f9 40%, #829f82 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-both-txt {
    color: #051505;
    background-image: -webkit-linear-gradient(
      0deg,
      rgb(13, 38, 13, 0.1) 2%,
      #f1f5f9 50%,
      rgb(13, 38, 13, 0.1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg-one {
    background-image: url("../images/bg-two-one.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-two {
    background-image: url("../images/bg-two-one.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-three {
    background-image: url("../images/bg-three.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-four {
    background-image: url("../images/bg-four.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-five {
    background-image: url("../images/bg-five.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact-bg {
    background: rgb(5, 20, 5);
    background: linear-gradient(
      30deg,
      rgba(5, 20, 5, 1) 40%,
      rgba(9, 9, 121, 0) 55%,
      rgba(5, 20, 5, 1) 67%
    );
  }
  .loader {
    /* width: 100px; */
    /* height: 20px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3px;
  }

  .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    /* background: #abb2b9; */
    animation: pulse 1.5s infinite ease-in-out;
  }

  .dot:nth-child(1) {
    animation-delay: 0s;
    background: #f1f5f9;
  }

  .dot:nth-child(2) {
    animation-delay: 0.5s;
    background: #f1f5f9;
  }

  .dot:nth-child(3) {
    animation-delay: 1s;
    background: #f1f5f9;
  }

  @keyframes pulse {
    0%,
    100% {
      transform: scale(0.6);
      opacity: 0.5;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
.spinner {
  animation-name: spin;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
