@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
@layer components {
  .logoBg {
    background-image: url("../images/LogoVector.png");
    background-repeat: no-repeat;
    box-shadow: 0px 16px 12px #cf040400;
  }
  .gradient-txt {
    background: #f1f5f9;
    background: linear-gradient(to right, #f1f5f9 40%, #829f82 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-both-txt {
    color: #051505;
    background-image: -webkit-linear-gradient(
      0deg,
      rgb(13, 38, 13, 0.1) 2%,
      #f1f5f9 50%,
      rgb(13, 38, 13, 0.1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg-image {
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
