@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
@layer components {
  .logoBg {
    background-image: url("../images/LogoVector.png");
    background-repeat: no-repeat;
    box-shadow: 0px 16px 12px #cf040400;
  }
  .gradient-txt {
    background: #dddde0;
    background: linear-gradient(to right, #ffffff 40%, #829f82 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-both-txt {
    color: #051505;
    background-image: -webkit-linear-gradient(
      45deg,
      #051505 0%,
      #f1f5f9 50%,
      #051505 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
